{% extends "base.html" %}
{% load staticfiles %}

{% block title %}人脸识别考勤系统{% endblock %}

{% block body %}

    <!-- Header section -->
    <header class="header-section">
        <div class="header-warp">
            <div class="container">
                <a href="#" class="site-logo">
                    <img src={% static "img/logo.png" %} alt="">
                </a>
                <div class="user-panel">
                    <a href="/logout/">Logout</a>
                </div>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
                <ul class="main-menu">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">考勤记录</a></li>
                    <li><a href="#">人员维护</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Header section end -->

    <section class="hero-section set-bg" data-setbg="img/bg.jpg">
        <div class="container">
            <form action="/check/" method="POST" enctype="multipart/form-data">
                <div class="hero-text text-white cameracontainer">
                    <div id="vdiv" class="row cameradiv">
                        <video id="v" class="camerasize"></video>
                        <canvas id="canvas" style="display:none;"></canvas>
                        <img src={% static "img/default.png" %} id="photo" class="camerasize">
                        <input id="photoinput" name="photoinput" style="display: none">
                    </div>
                </div>
                <div class="text-center" style="margin-top:30px">
                    <input id="take" readonly="readonly" class="site-btn" value="拍照">
                </div>
                <div class="text-center" style="margin-top:30px">
                    <input data-toggle="modal" data-target="#myModal" readonly="readonly" class="site-btn" value="提交考勤">

                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">选择课程</h4>
                                </div>
                                <div class="modal-body">
                                    <select id="subject" name="subject" class="subjectselect">
                                        {% for subject in subsjects %}
                                            <option>{{ subject }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        !(function () {
            // 老的浏览器可能根本没有实现 mediaDevices，所以我们可以先设置一个空的对象
            if (navigator.mediaDevices === undefined) {
                navigator.mediaDevices = {};
            }
            if (navigator.mediaDevices.getUserMedia === undefined) {
                navigator.mediaDevices.getUserMedia = function (constraints) {
                    // 首先，如果有getUserMedia的话，就获得它
                    var getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

                    // 一些浏览器根本没实现它 - 那么就返回一个error到promise的reject来保持一个统一的接口
                    if (!getUserMedia) {
                        return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
                    }

                    // 否则，为老的navigator.getUserMedia方法包裹一个Promise
                    return new Promise(function (resolve, reject) {
                        getUserMedia.call(navigator, constraints, resolve, reject);
                    });
                }
            }
            const constraints = {
                video: true,
                audio: false
            };
            let videoPlaying = false;
            let v = document.getElementById('v');
            let promise = navigator.mediaDevices.getUserMedia(constraints);
            promise.then(stream => {
                // 旧的浏览器可能没有srcObject
                if ("srcObject" in v) {
                    v.srcObject = stream;
                } else {
                    // 防止再新的浏览器里使用它，应为它已经不再支持了
                    v.src = window.URL.createObjectURL(stream);
                }
                v.onloadedmetadata = function (e) {
                    v.play();
                    videoPlaying = true;
                };
            }).catch(err => {
                console.error(err.name + ": " + err.message);
            })
            document.getElementById('take').addEventListener('click', function () {
                if (videoPlaying) {
                    let canvas = document.getElementById('canvas');
                    canvas.width = v.videoWidth;
                    canvas.height = v.videoHeight;
                    canvas.getContext('2d').drawImage(v, 0, 0);
                    let data = canvas.toDataURL('image/jpeg');
                    document.getElementById('photo').setAttribute('src', data);
                    document.getElementById('photoinput').value = data;
                }
            }, false);
        })();
    </script>
{% endblock %}