{% extends "base.html" %}
{% load staticfiles %}

{% block title %}人脸识别考勤系统{% endblock %}
{% block body %}
    <!-- Header section -->
    {% include 'header.html' %}
    <!-- Header section end -->

    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg={% static "img/page-top-bg.jpg" %}>
        <div class="container text-white">
            <h3>考勤记录</h3>
        </div>
    </section>
    <!--  Page top end -->

    <!-- Search section -->
    <section class="multi-search-section">
        <div class="msf-warp">
            <div class="container">
                <h5>缺席名单查询</h5>
                <form action="/query/" class="multi-search-form" method="GET">

                    <input name="year" type="text" placeholder="Year">
                    <input name="month" type="text" placeholder="Month">
                    <input name="day" type="text" placeholder="Day">

                    <select id="subject" name="subject" style="height:47px; margin-right:18px">
                        {% for subject in subjects %}
                            <option>{{ subject }}</option>
                        {% endfor %}
                    </select>

                    <button type="submit" class="site-btn">Search</button>
                </form>
            </div>
        </div>
    </section>
    <!-- Search section end -->
    <section>
        <div class="text-center logindiv">
            <h5><span class="text-danger">{{ error }}</span></h5>
        </div>
    </section>

    <section class="spad">
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Student-ID</th>
                    <th>Student Name</th>
                    <th>Subject</th>
                </tr>
                </thead>
                <tbody>
                {% for i in results %}
                    <tr>
                        <td>{{ i.result_datetime }}</td>
                        <td>{{ i.student.student_id }}</td>
                        <td>{{ i.student.student_name }}</td>
                        <td>{{ i.subject }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}